@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}
@media (min-width:1000px){
body {
  background: -webkit-linear-gradient(top, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
}
.demo-2 { background: #72d0f4; }
.slide-container {
  margin: auto;
  width: 470px;
  text-align: center;
}

.wrapper {
  padding-top: 30px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  display: inline-block;
  position: relative;
  width:400px;
  text-align: center;
}
.clash-card .last{
	width:425px;
	height:590px;
	background: #E41E39;
}
#countdown {
   width: 462px;
   position: relative;
   left: 25%;
   top: 50%;
   transform: translate(-50%, -50%) rotate(-45deg);
   padding: 0;
   list-style: none;
}

#countdown li {
   display: table;
   text-align: center;
   float: left;
   background: #fff;
   margin: 2px;
   width: 130px;
   height: 130px;
}

#countdown li:nth-child(3) {
   clear: left;
   margin-left: 130px;
}

#countdown li div {
   transform: rotate(45deg);
   display: table-cell;
   vertical-align: middle;
}

#countdown li div span {
   display: block;
   font-size: 3rem;
   color: #323031;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 80px;
  z-index: 999;
}

.slick-next {
  right: 80px;
  z-index: 999;	
}
}
@media (min-width:320px){
body {
  background: -webkit-linear-gradient(top, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
}
.demo-2 { background: #72d0f4; }
.slide-container {
  margin: auto;
  text-align: center;
}

.wrapper {
  padding-top: 20px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  display: inline-block;
  position: relative;
  width:90%;
  text-align: center;
}

.clash-card__image a{
	
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: -5px;
  z-index: 999;
}

.slick-next {
  right: -5px;
  z-index: 999;
}
}
