@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}
@media (min-width:900px){
body {
  background: -webkit-linear-gradient(top, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
}
.demo-2 { background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2); }
.slide-container {
  margin: auto;
  width: 470px;
  text-align: center;
}

.wrapper {
  padding-top: 30px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  display: inline-block;
  position: relative;
  width:400px;
  text-align: center;
}
.clash-card .last{
	width:405px;
	height:560px;
	background: #E41E39;
}
	#map {
        height: 290px;
        width: 100%;
       }
#countdown {
   width: 450px;
   position: relative;
   left: 40%;
   top: 0%;
   transform: translate(-50%, -50%) rotate(-45deg);
   padding: 0;
   list-style: none;
}

#countdown li {
   display: table;
   text-align: center;
   float: left;
   background: #fff;
   margin: 2px;
   width: 100px;
   height: 100px;
}

#countdown li:nth-child(3) {
   clear: left;
   margin-left: 110px;
}

#countdown li div {
   transform: rotate(45deg);
   font: 14px arial, sans-serif;
   display: table-cell;
   vertical-align: middle;
}

#countdown li div span {
   display: block;
   font-size: 3rem;
   color: #323031;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 0px;
  z-index: 999;
}

.slick-next {
  right: 0px;
  z-index: 999;	
}
}
@media (min-width:320px) and (max-width: 900px){
body {
background: -webkit-linear-gradient(top, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
}
.demo-2 { background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2); }
.slide-container {
  margin: auto;
  text-align: center;
}

.wrapper {
  padding-top: 20px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  display: inline-block;
  position: relative;
  width:90%;
  text-align: center;
}
.clash-card .last{
	width:310px;
	height:450px;
	background: #E41E39;
}
	#map {
        height: 230px;
        width: 310px;
       }
#countdown {
   width: 262px;
   position: relative;
   left: 32%;
   top: 3%;
   transform: translate(-50%, -50%) rotate(-45deg);
   padding: 0;
   list-style: none;
}

#countdown li {
   display: table;
   text-align: center;
   float: left;
   background: #fff;
   margin: 2px;
   width: 80px;
   height: 80px;
}

#countdown li:nth-child(3) {
   clear: left;
   margin-left: 85px;
}

#countdown li div {
   transform: rotate(45deg);
   font: 14px arial, sans-serif;
   display: table-cell;
   vertical-align: middle;
}

#countdown li div span {
   display: block;
   font-size: 2rem;
   color: #323031;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: -5px;
  z-index: 999;
}

.slick-next {
  right: -5px;
  z-index: 999;
}
}
